---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{post.excerpt | strip_html | truncatewords: 100}}<a href="{{post.url | prepend: site.baseurl}}">...</a>
        {% assign foundImage = 0 %}
{% assign images = post.content | split:"<img " %}
{% for image in images %}
  {% if image contains 'src' %}

      {% if foundImage == 0 %}
          {% assign html = image | split:"/>" | first %}
          {% assign tags = html | split:" " %}
          {% for tag in tags %}
            {% if tag contains 'src' %}
              <img {{ tag }} />
            {% endif %}
          {% endfor %}
          {% assign foundImage = 1 %}
      {% endif %}
  {% endif %}
{% endfor %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
