<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="http://c4coffee.ca">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">>Engineer. Robots. Coffee.<br>
      >Founder of UBC Subbots. <br>
      >Captain of UBC Snowbots.
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="https://linkedin/in/{{site.linkedin_username}}">About</a>
      <a class="sidebar-nav-item" href="/tags">Index</a>
      <br>
      <a class="sidebar-nav-item" href="http://snowbots.ca">
        <i class="fa fa-snowflake-o"></i>UBC Snowbots</a> 
      <a class="sidebar-nav-item" href="http://subbots.ca">
        <i class="fa fa-snowflake-o"></i>UBC Subbots</a>
      <a class = "sidebar-nav-item" href="https://linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-linkedin"></i> LinkedIn
      </a>
      <a class = "sidebar-nav-item" href="https://instagram.com/_vincenty_">
        <i class="fa fa-instagram"></i> Instagram
      </a>
      <a class = "sidebar-nav-item" href="https://github.com/{{ site.github_username }}">
         <i class="fa fa-github"></i> GitHub
      </a>
      <a class="sidebar-nav-item" href="mailto:yuanv@alumni.ubc.ca">
        <i class="fa fa-envelope"></i> Email
      </a>

  </div>
  <div class="container sidebar-bottom">
  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
