<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="http://c4coffee.ca">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">>Engineer. Robots. Coffee.<br>

      >80/20 Pareto Engineering</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="http://c4coffee.ca">Home</a>
      <a class="sidebar-nav-item" href="/About">About</a>
  </div>
  <div class="container sidebar-bottom">
  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
